@import views.support.LinkInfo
@import common.LinkTo
@(bodyLinks: Seq[LinkInfo], enhanced: Boolean, suffix: String)(implicit request: RequestHeader)

@import views.support.RenderClasses

@bodyLinks.map { bodyLink =>
    <div
    class="@RenderClasses(Map(
        "js-replicated-link" -> true,
        s"element-replicated-link__$suffix" -> true,
        s"element-replicated-link__$suffix--hidden" -> !enhanced
    ))"
    data-timestamp="@bodyLink.date"
    >

        <a href="@{s"${LinkTo(bodyLink.href)}"}" data-link-name="replicated link">
            @if(enhanced) {
                <span class="element-replicated-link__headline">@bodyLink.text</span>
            }
        </a>

    </div>
}
