@(urlMsgs: List[String] = List.empty, fileMsgs: List[String] = List.empty)(implicit request: RequestHeader)
@import conf.switches.Switches.TeacherResourcePressSwitch

@admin_main("Teacher resource page presser", conf.Configuration.environment.stage, isAuthed = true) {
    <form action="/press/teacher-resource" method="POST" class="form-horizontal redirect-form">
        <fieldset>
            <legend>Press an individual page</legend>
            <div class="form-group">
                <label for="resourceUrl" class="control-label col-sm-1">Resource URL:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="resourceUrl" name="resourceUrl" value="" placeholder="https://teachers.theguardian.com/teacher-resources/path" />
                </div>
            </div>
            <div class="form-group">
                <label for="is-takedown" class="control-label col-sm-1">Takedown:</label>
                <div class="col-sm-6">
                    <input type="checkbox" class="form-control" id="is-takedown" name="is-takedown"/>
                </div>
            </div>
            <div class="form-group">
                <label for="is-from-preserved-source" class="control-label col-sm-1">From preserved src:</label>
                <div class="col-sm-6">
                    <input type="checkbox" class="form-control" id="is-from-preserved-source" name="is-from-preserved-source" />
                </div>
            </div>
            <div class="form-group">
                <label for="is-convert-to-https" class="control-label col-sm-1">Make HTTPS compatible:</label>
                <div class="col-sm-6">
                    <input type="checkbox" class="form-control" id="is-convert-to-https" name="is-convert-to-https" checked/>
                </div>
            </div>
            <div class="form-group">
                <div class="controls col-sm-offset-1 col-sm-11">
                    @if(TeacherResourcePressSwitch.isSwitchedOn) {
                        <input class="btn btn-default" type="submit" value="Press" />
                    } else {
                        <div class="col-sm-6">
                            This feature is currently switched off (use the switchboard to re-enable it)
                        </div>
                    }
                </div>
            </div>
            @if(urlMsgs.nonEmpty) {
                <div class="form-group label-warning">
                    <div id="server-message" class="controls col-sm-offset-1 col-sm-11">
                        @urlMsgs.mkString
                    </div>
                </div>
            }
        </fieldset>
    </form>

    <form action="/press/teacher-resource/batchupload" method="POST" class="form-horizontal redirect-form" enctype="multipart/form-data">
        <fieldset>
            <legend>Press a batch of teacher resource pages from a file of urls</legend>
            <div class="form-group">
                <label for="resourceUrlfile" class="control-label col-sm-1">File:</label>
                <div class="col-sm-6">
                    <input type="file" class="form-control" id="resourceUrlfile" name="resourceUrlfile" />
                </div>
            </div>
            <div class="form-group">
                <label for="is-takedown" class="control-label col-sm-1">Takedown:</label>
                <div class="col-sm-6">
                    <input id="is-takedown" name="is-takedown" type="checkbox"/>
                </div>
            </div>
            <div class="form-group">
                <label for="is-from-preserved-source" class="control-label col-sm-1">From preserved src:</label>
                <div class="col-sm-6">
                    <input type="checkbox" class="form-control" id="is-from-preserved-source" name="is-from-preserved-source" />
                </div>
            </div>
            <div class="form-group">
                <label for="is-convert-to-https" class="control-label col-sm-1">Make HTTPS compatible:</label>
                <div class="col-sm-6">
                    <input type="checkbox" class="form-control" id="is-convert-to-https" name="is-convert-to-https" checked/>
                </div>
            </div>
            <div class="form-group">
                <div class="controls col-sm-offset-1 col-sm-11">
                @if(TeacherResourcePressSwitch.isSwitchedOn) {
                    <input class="btn btn-default" type="submit" value="Upload & Press" />
                } else {
                    <div class="col-sm-6">
                        This feature is currently switched off (use the switchboard to re-enable it)
                    </div>
                }
                </div>
            </div>
            @if(fileMsgs.nonEmpty) {
                <div class="form-group label-warning">
                    <div id="server-message" class="controls col-sm-offset-1 col-sm-11">
                        @fileMsgs.mkString
                    </div>
                </div>
            }
        </fieldset>
    </form>

}
