.element-atom .quiz {

    .quiz__questions {
        font-weight: bold;
    }

    .question {
        margin-bottom: $gs-gutter;
    }

    .quiz__questions,
    .question__answers {
        list-style: none;
    }

    .quiz__question--locked {
        .answer--correct.answer--revealed {
            opacity: 0.8;
        }
        .answer:hover {
            text-decoration: none;
        }
    }

    .question__text {
        margin-bottom: 10px;
    }

    .question__answer-container {
        margin-bottom: $gs-gutter/4;
    }

    %answer {
        display: block;
        font-weight: normal;
        color: colour(neutral-2);
        background-color: colour(neutral-8);
        padding: $gs-baseline;
        position: relative;

        &:hover {
            text-decoration: underline;
        }

        .js-on & {
            cursor: pointer;
            &:hover {
                background-color: colour(neutral-10);
            }
        }
    }

    .answer,
    .answer--correct,
    .answer--incorrect {
        @extend %answer;
    }

    .answer--correct,
    .answer--incorrect {
        padding-left: 30px;
    }

    .answer--correct {
        background-color: colour(quiz-correct-inactive);

        &.is-active {
            color: #ffffff;
            background-color: colour(quiz-correct);
        }
        &.answer--revealed svg path {
            fill: colour(quiz-correct);
        }
    }

    .answer--incorrect {
        color: #ffffff;
        background-color: colour(quiz-incorrect);
    }

    .answer__text,
    .answer__reveal-text {
        margin: 0;
        display: block;
    }

    .answer__reveal-text {
        @include fs-bodyCopy(1);
    }

    .answer__radio {
        display: none;
    }

    .quiz__correct-answers,
    .quiz__correct-answers-title {
        display: none;
    }

    .quiz__answer-icon {
        position: absolute;
        left: 6px;
        top: 13px;
        height: 14px;
        width: 14px;
        color: #fff;
    }

    // End message

    .quiz__end-message {
        border-top: 1px solid #aad8f1;
        background-color: #f6f6f6;
        padding: 30px 12px 10px 12px;
    }
}
