.element-atom .quiz {

    .quiz__questions {
        font-weight: bold;
    }

    .question {
        margin-bottom: $gs-gutter;
    }

    .quiz__questions,
    .question__answers {
        list-style: none;
    }

    %answer {
        display: block;
        font-weight: normal;
        color: colour(neutral-2);
        background-color: colour(neutral-8);
        padding: $gs-baseline;
        margin: $gs-gutter/4;

        .js-on & {
            cursor: pointer;
            &:hover {
                background-color: colour(neutral-10);
            }
        }
    }

    .answer,
    .answer--correct,
    .answer--incorrect {
        @extend %answer;
    }

    .answer--correct {
        background-color: colour(quiz-correct-inactive);

        &.is-active {
            color: #ffffff;
            background-color: colour(quiz-correct);
        }
    }

    .answer--incorrect {
        color: #ffffff;
        background-color: colour(quiz-incorrect);
    }

    .answer__text,
    .answer__reveal-text {
        margin: 0;
        display: block;
    }

    .answer__reveal-text {
        @include fs-bodyCopy(1);
    }

    .answer__radio {
        display: none;
    }

    .quiz__correct-answers,
    .quiz__correct-answers-title {
        display: none;
    }
}
