[data-gu-instant] {
  border: 3px dashed red;
}

.fc-item .fc-item__link[data-gu-instant]::before {
  content: ' ';
  background-image: url('/assets/instant.svg');
  background-size: 100% 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 32px;
  height: 32px;
}

.fc-item .fc-item__link {
  position: relative;
  display: inline-block;
}
