.new-header {
    background-color: $guardian-brand;
}

.new-header__inner {
    display: flex;
    justify-content: space-between;

    @include mq($until: phablet) {
        align-items: flex-start;

        // On mobile we want the nav to appear on a new line.
        // This is achieved by allowing flex items to wrap, and placing a full
        // width item after the logo.
        // In the future this will be better achieved using display: contents
        // http://stackoverflow.com/questions/29732575/line-break-in-multi-line-flexbox
        flex-wrap: wrap;

        &::after {
            content: '';
            width: 100%;
        }
    }

    @include mq(phablet) {
        align-items: center;
        box-sizing: border-box;
        padding-right: ($gs-gutter / 2);
        padding-left: ($gs-gutter / 2);
    }
}

.new-header__logo {
    padding: ($gs-baseline / 2) ($gs-gutter / 2);

    @include mq(phablet) {
        order: 1;
    }

    svg {
        // Removes extra spacing
        display: block;

        @include mq(tablet) {
            width: 200px;
            height: auto;
        }
    }
}

.new-header__edition-button {
    font-family: $f-sans-serif-text;
    font-size: 12px;
    // Override inherited from body
    line-height: 1.2;
    order: -1;
    color: $news-support-1;
    // TODO: Use reset util?
    // Unset button from user agent stylesheet
    background: none;
    // Unset button from user agent stylesheet
    border: 0;
    // Override button from user agent stylesheet
    padding: ($gs-gutter / 2);

    svg {
        fill: currentColor;
        margin-right: 4px;
        vertical-align: middle;
        // Align with cap height instead of x height
        margin-top: -3px;
    }
}

.new-header__nav {
    @include fs-textSans(5);
    display: flex;
    align-items: center;

    @include mq($until: phablet) {
        padding-left: ($gs-gutter / 2);
        padding-right: ($gs-gutter / 2);
        // Position after pseudo element which forces line break
        order: 1;
        flex: 1;
        justify-content: space-between;
    }

    // TODO: Line heights?
    @include mq(tablet) {
        font-size: 19px;
    }

    @include mq(desktop) {
        font-size: 22px;
    }
}

.new-header__nav__menu-button {
    // Override button from user agent stylesheet
    background-color: $news-main-2;
    // Unset button from user agent stylesheet
    border: 0;
    // Override button from user agent stylesheet
    box-sizing: border-box;
    border-radius: 100%;
    z-index: 1;
    // Do not allow Flexbox to shrink below the specified width
    // We want this to appear square for all screen sizes
    flex-shrink: 0;
    // Overlap
    margin-top: -5px;
    margin-bottom: -5px;
    display: flex;

    @include mq($until: phablet) {
        margin-left: 6px;
    }

    @include mq($until: tablet) {
        padding: $gs-gutter * .6;
        width: 42px;
        height: 42px;
    }

    @include mq(phablet) {
        padding: $gs-gutter * .9;
        width: 60px;
        height: 60px;
    }

    &:focus {
        background-color: darken($news-main-2, 10%);
        // box-shadow: 0 3px 10px hsla(0, 0%, 0%, 0.2);
        // Unset a:focus from user agent stylesheet
        outline: 0;
    }

    svg {
        width: 100%;
        // TODO: Fix Safari
        height: auto;
        fill: #ffffff;
    }
}

.new-header__nav__list {
    display: flex;
    flex-wrap: wrap;
    // Unset ul from _lists.scss
    margin-left: 0;
    // Unset ul from user agent stylesheet
    margin-top: 0;
    // Unset ul from user agent stylesheet
    margin-bottom: 0;

    @include mq($until: phablet) {
        order: -1;
    }

    @include mq(phablet) {
        margin-left: $gs-gutter / 2;
    }
}

.new-header__nav__list-item {
    // Override inherited nav ul from _lists.scss
    list-style: none;
    white-space: nowrap;

    &:not(:last-child) {
        &:after {
            content: '/';
            color: $news-main-2;
        }
    }
}

.new-header__nav__link {
    // Override a from _lists.scss
    color: #ffffff;
    padding: 2px;
}



.main-menu-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // TODO: Why 3?
    z-index: 3;

    .js-on & {
        &:not(.shown) {
            display: none;
        }
    }

    .js-off & {
        &:not(:target) {
            display: none;
        }
    }
}

.main-menu-container__overlay {
    background-color: hsla(0, 0%, 0%, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity 0.2s;

    .main-menu-container.off-screen & {
        opacity: 0;
    }
}

.main-menu-container__menu {
    height: 100%;
    width: 80%;
    max-width: 260px;
    background-color: $guardian-brand;
    color: #ffffff;
    box-shadow: 3px 0 16px rgba(0,0,0,0.4);
    will-change: transform;
    transition: transform 0.2s ease-out;
    font-family: $f-sans-serif-text;
    font-size: 20px;
    color: white;
    text-transform: lowercase;
    // TODO: Remove
    padding-top: 10px;
    overflow: auto;

    .main-menu-container.off-screen & {
        transform: translateX(-110%);
    }
}

.main-navigation {
    // Unset ul from _lists.scss
    margin-left: 0;
    // Unset ul from user agent stylesheet
    margin-top: 0;
    // Unset ul from user agent stylesheet
    margin-bottom: 0;
    padding-bottom: 16px;
}

.main-navigation__item {
    // Override inherited ul from user agent stylesheet
    list-style: none;
}

$navigation-horizontal-padding: 38px;

.main-navigation__item__button {
    // padding-left: $navigation-horizontal-padding;
    padding-right: $navigation-horizontal-padding;
    padding-bottom: 6px;
    font-size: 26px;

    &:focus {
        // Unset a:focus from user agent stylesheet
        outline: 0;
        background-color: darken($guardian-brand, 5%);
    }

    &::-webkit-details-marker {
        display: none;
    }

    // TODO: Why both?
    .inline-icon, svg {
        vertical-align: middle;
    }

    svg {
        fill: hsla(0, 0%, 100%, 0.3);
        margin-left: ($navigation-horizontal-padding - 15px) / 2;
        margin-right: ($navigation-horizontal-padding - 15px) / 2 - 6px;
        width: 15px;
        height: auto;

        details[open] & {
            transform: rotate(180deg);
        }
    }
}

.main-navigation__secondary {
    background-color: darken($guardian-brand, 3%);
    color: $news-support-1;
}

.navigation-border {
    &:before {
        content: '';
        display: block;
        height: 1px;
        background: $guardian-brand-dark;
        margin-left: $navigation-horizontal-padding;
    }
}

.navigation-group {
    // Unset ul from _lists.scss
    margin-left: 0;
    // Unset ul from user agent stylesheet
    margin-top: 0;
    // Unset ul from user agent stylesheet
    margin-bottom: 0;
    padding-bottom: 10px;
}

.navigation-group__item {
    // Override inherited ul from user agent stylesheet
    list-style: none;

    a {
        display: block;
        padding-left: $navigation-horizontal-padding;
        padding-right: $navigation-horizontal-padding;
        padding-bottom: 6px;
       // Override a from user agent stylesheet
        color: inherit;

        // TODO: Share with large nav?
        &:focus {
            // Unset a:focus from user agent stylesheet
            outline: 0;
            background-color: darken($guardian-brand, 5%);
        }
    }
}

.no-text-transform {
    text-transform: none;
}
